<a href="https://colab.research.google.com/github/ruchiswarnkar04-afk/Python-practice-questions/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = int(input("Enter number of elements: "))
lst = []

for i in range(n):
    val = int(input("Enter element: "))
    lst.append(val)

print("List elements are:")
for i in lst:
    print(i)
8

Enter number of elements: 5
Enter element: 18
Enter element: 45
Enter element: 77
Enter element: 93
Enter element: 8
List elements are:
18
45
77
93
8

8

In [3]:
lst = list(map(int, input("Enter list elements: ").split()))

even = 0
odd = 0

for i in lst:
    if i % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even count:", even)
print("Odd count:", odd)

Enter list elements: 13 14 76 85
Even count: 2
Odd count: 2

In [4]:
lst = list(map(int, input("Enter elements: ").split()))
total = 0

for i in lst:
    total += i

print("Sum =", total)

Enter elements: 43 67 22 10 15
Sum = 157

In [5]:
lst = list(map(int, input("Enter elements: ").split()))

largest = lst[0]
smallest = lst[0]

for i in lst:
    if i > largest:
        largest = i
    if i < smallest:
        smallest = i

print("Largest =", largest)
print("Smallest =", smallest)

Enter elements: 11 17 95 47 88
Largest = 95
Smallest = 11

In [6]:
lst = list(map(int, input("Enter elements: ").split()))
x = int(input("Enter element to search: "))

count = 0
for i in lst:
    if i == x:
        count += 1

print("Count =", count)

Enter elements: 10 11 12 13 14 15
Enter element to search: 12
Count = 1

In [7]:
lst = list(map(int, input("Enter elements: ").split()))

rev = []
for i in range(len(lst)-1, -1, -1):
    rev.append(lst[i])

print("Reversed list:", rev)

Enter elements: 1 2 3 4 5 6 7 8 9 10
Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [8]:
lst = list(map(int, input("Enter elements: ").split()))

pos = []
neg = []

for i in lst:
    if i >= 0:
        pos.append(i)
    else:
        neg.append(i)

print("Positive:", pos)
print("Negative:", neg)

Enter elements: 3 -7 66 -9 -23
Positive: [3, 66]
Negative: [-7, -9, -23]

In [10]:
lst = list(map(int, input("Enter elements: ").split()))

new = []
for i in lst:
    if i not in new:
        new.append(i)

print("Without duplicates:", new)

Enter elements: 11 11 34 35 11 68
Without duplicates: [11, 34, 35, 68]

In [11]:
lst = list(map(int, input("Enter elements: ").split()))

flag = True
for i in range(len(lst)-1):
    if lst[i] > lst[i+1]:
        flag = False
        break

if flag:
    print("List is sorted")
else:
    print("List is not sorted")

Enter elements: 22 46 8 35 78
List is not sorted

In [12]:
lst = list(map(int, input("Enter elements: ").split()))

first = second = -999999

for i in lst:
    if i > first:
        second = first
        first = i
    elif i > second and i != first:
        second = i

print("Second largest:", second)

Enter elements: 4555
Second largest: -999999

In [13]:
t = tuple(map(int, input("Enter elements: ").split()))

for i in t:
    print(i)

Enter elements: 45 57 976 3
45
57
976
3

In [14]:
t = tuple(map(int, input("Enter elements: ").split()))

count = 0
for i in t:
    count += 1

print("Total elements:", count)

Enter elements: 23 46 77 245 89
Total elements: 5

In [15]:
t = tuple(map(int, input("Enter elements: ").split()))

s = 0
for i in t:
    s += i

print("Sum =", s)

Enter elements: 1 2 3 4  5
Sum = 15

In [16]:
t = tuple(map(int, input("Enter elements: ").split()))
x = int(input("Enter element to search: "))

if x in t:
    print("Exists")
else:
    print("Not exists")

Enter elements: 12 1 3 14 15
Enter element to search: 14
Exists

In [17]:
t = tuple(map(int, input("Enter elements: ").split()))

even = odd = 0

for i in t:
    if i % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even:", even)
print("Odd:", odd)

Enter elements: 1 2 3 4 5 6 7
Even: 3
Odd: 4

In [6]:
t = (10, 5, 20, 8, 15)

maximum = t[0]
minimum = t[0]

for i in t:
    if i > maximum:
        maximum = i
    if i < minimum:
        minimum = i

print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 20
Minimum: 5

In [7]:
t = (1, 2, 3, 4, 5)

lst = list(t)

print("Tuple:", t)
print("List:", lst)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

In [8]:
t = (1, 2, 3, 4, 5)

rev = []
for i in range(len(t)-1, -1, -1):
    rev.append(t[i])

rev_tuple = tuple(rev)

print("Original Tuple:", t)
print("Reversed Tuple:", rev_tuple)

Original Tuple: (1, 2, 3, 4, 5)
Reversed Tuple: (5, 4, 3, 2, 1)

In [9]:
t = (1, 2, 2, 3, 3, 3, 4)

freq = {}

for i in t:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print("Frequency:", freq)

Frequency: {1: 1, 2: 2, 3: 3, 4: 1}

In [10]:
t = (-5, 10, -2, 15, 20, -1)

pos = []

for i in t:
    if i > 0:
        pos.append(i)

pos_tuple = tuple(pos)

print("Positive Tuple:", pos_tuple)

Positive Tuple: (10, 15, 20)

In [11]:
t = (1, 2, 3)

print("Original Tuple:", t)

# Tuples cannot be changed
# t[0] = 10   # This will give error

Original Tuple: (1, 2, 3)

In [12]:
t = (1, 2, 3, 2, 1)

if t == t[::-1]:
    print("Tuple is Palindrome")
else:
    print("Tuple is Not Palindrome")

Tuple is Palindrome

In [13]:
t = (10, 20, 30, 40, 50, 60)

even_pos = []

for i in range(len(t)):
    if i % 2 == 0:
        even_pos.append(t[i])

print("Even Position Elements:", tuple(even_pos))

Even Position Elements: (10, 30, 50)

In [14]:
t1 = (1, 2, 3)
t2 = (1, 5, 3)

for i in range(len(t1)):
    if t1[i] == t2[i]:
        print("Same at position", i)
    else:
        print("Different at position", i)

Same at position 0
Different at position 1
Same at position 2

In [15]:
t1 = (1, 2, 3, 4, 5)
t2 = (4, 5, 6, 7)

common = []

for i in t1:
    if i in t2:
        common.append(i)

print("Common Elements:", tuple(common))

Common Elements: (4, 5)

In [19]:
n = int(input("Enter number of students: "))
d = {}

for i in range(n):
    name = input("Enter name: ")
    marks = int(input("Enter marks: "))
    d[name] = marks

count = 0
for i in d:
    if d[i] >= 40:
        count += 1

print("Students passed:", count)

Enter number of students: 5
Enter name: ruchi
Enter marks: 45
Enter name: suhani
Enter marks: 43
Enter name: harsh
Enter marks: 39
Enter name: aishwar
Enter marks: 45
Enter name: divyansh
Enter marks: 48
Students passed: 4

In [20]:
d = {'a':10, 'b':20, 'c':30}

for k in d:
    print(k, d[k])

a 10
b 20
c 30

In [21]:
d = {'a':10, 'b':20}
k = input("Enter key: ")

if k in d:
    print("Key exists")
else:
    print("Key not exists")

Enter key: 15
Key not exists

In [22]:
d = {'a':10, 'b':20, 'c':30}

count = 0
for i in d:
    count += 1

print("Total pairs:", count)

Total pairs: 3

In [23]:
d = {'a':10, 'b':20, 'c':30}
k = input("Enter key to delete: ")

if k in d:
    del d[k]
    print("Deleted")
else:
    print("Key not found")

print(d)

Enter key to delete: 20
Key not found
{'a': 10, 'b': 20, 'c': 30}

In [24]:
d = {'a':10, 'b':20, 'c':30}

keys = []
values = []

for k in d:
    keys.append(k)
    values.append(d[k])

print("Keys:", keys)
print("Values:", values)

Keys: ['a', 'b', 'c']
Values: [10, 20, 30]

In [27]:
n = int(input("Enter n: "))
d = {}

for i in range(1, n+1):
    d[i] = i*i

print(d)

Enter n: 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [28]:
d = {'a':10, 'b':50, 'c':30}

max_key = list(d.keys())[0]

for k in d:
    if d[k] > d[max_key]:
        max_key = k

print("Max value key:", max_key)

Max value key: b

In [29]:
d1 = {'a':10, 'b':20}
d2 = {'c':30, 'd':40}

d1.update(d2)

print(d1)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

In [30]:
d = {'a':30, 'b':10, 'c':20}

items = list(d.items())

for i in range(len(items)):
    for j in range(i+1, len(items)):
        if items[i][1] > items[j][1]:
            items[i], items[j] = items[j], items[i]

print(dict(items))

{'b': 10, 'c': 20, 'a': 30}

In [1]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]

merged = list1 + list2

print("List 1:", list1)
print("List 2:", list2)
print("Merged List:", merged)

List 1: [1, 2, 3, 4, 5]
List 2: [6, 7, 8, 9, 10]
Merged List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list1 = [1,2,3,4,5]
list2 = [4,5,6,7,8]

common = []

for i in list1:
    if i in list2:
        common.append(i)

print("Common Elements:", common)

Common Elements: [4, 5]

In [3]:
lst = [1,2,3,4,5,6,7,8,9,10]
k = 3

rotated = lst[k:] + lst[:k]

print("Original List:", lst)
print("Rotated List:", rotated)

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Rotated List: [4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [4]:
lst = [1,2,2,3,3,3,4,4,5]

freq = {}

for i in lst:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

print("Frequency:", freq)

Frequency: {1: 1, 2: 2, 3: 3, 4: 2, 5: 1}

In [5]:
lst = [10,20,30,40,50,60,70]

even_index = []
odd_index = []

for i in range(len(lst)):
    if i % 2 == 0:
        even_index.append(lst[i])
    else:
        odd_index.append(lst[i])

print("Even Index List:", even_index)
print("Odd Index List:", odd_index)

Even Index List: [10, 30, 50, 70]
Odd Index List: [20, 40, 60]